<header class="header">

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <nav class="main-nav pt-1">

                            <ul class="menu sf-arrows">

                                   <a href="/">
                                    <img src="/assets/images/mythrift/logomainimg.png" width="70px" class="pt-1" style="padding-right: 20px;">
                                 </a>

                                <li class="megamenu-container active">
                                    <a href="/" style="padding-right: 10px;">Home</a>

                                </li>

                                <li>

                                    <a href="#" class="sf-with-ul" style="padding-right: 10px;">Category</a>
                                    
                                    <ul class="p-2">

                                        <%categoryData?.forEach(e => {%>

                                            <li><a href="/categoryyy?id=<%= e._id %>"><%= e.name %></a></li>
                                            
                                        <% }); %>
                                        
                                    </ul>

                                </li>

                                <li>
                                    <a href="/product" style="padding-right: 10px;">Product</a>

                                </li>

                                <li>

                                    <a href="/about" style="padding-right: 10px;">About</a>
                                       
                                </li>

                                <li>
                            
                                    <a href="/contact" style="padding-right: 10px;">Contact</a>

                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right" >

                        <!-- <div class="user-icon-container" >
                        <img style="width:35% ;" src="assets/images/urban/userIcon.jpg" alt="User" class="user-icon" >
                        <div class="user-options">
                            <a href="">My Profile</a>
                            <button class="logout-button rounded-pill mt-1 text-white " style="background-color: gray;">Logout</button>
                        </div>
                        </div> -->

                        <div class="dropdown cart-dropdown">

                            <a href="<%= locals.login ? '/profile' : '/login' %>" class="dropdown-toggle sf-with-ul" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">

                                <% if (locals.login) { %>

                                    <div class="h" style="padding-top: 5px; margin-right: 5px;">
                                    <a href="/profile">
                                    <i class="fa-solid fa-circle-user" style="font-size: 28px; padding-right: 25px;"></i>
                                    </a>
                                    </div>

                                <% } else { %>

                                    <div class="hh" style="margin-top: 5px; margin-right: 30px;">
                                    <a href="/login" class="text-dark ">LOGIN</a>
                                    </div> 

                                <% } %>

                            </a>

                            <% if (locals.login) { %>

                                <div class="dropdown-menu dropdown-menu-right text-center rounded-2" style="display: flex; flex-direction: column; width: fit-content;">

                                    <p class="text-dark "><%= login.fullName %></p>

                                <a href="/profile" style="font-size: 15px; padding-top: 5px;">Profile</a>
                            
                                    <form action="/logout" method="post">

                                        <button class="logout-button rounded-pill mt-1 text-white " style="background-color: gray; width: fit-content;" type="submit">logout</button>
                                    
                                    </form>
                                
                                </div><!-- End .dropdown-menu -->

                            <% } %>

                        </div><!-- End .cart-dropdown -->


                        <div class="header-search">

                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>

                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" oninput="search(this)"  name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>

                        </div><!-- End .header-search -->

                        <!-- <div class="dropdown compare-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-random"></i>
                            </a> -->

                            <!-- <div class="dropdown-menu dropdown-menu-right">
                                <ul class="compare-products">
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>
                                    </li>
                                    <li class="compare-product">
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                        <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>
                                    </li>
                                </ul>

                                <div class="compare-actions">
                                    <a href="#" class="action-link">Clear All</a>
                                    <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                                </div>
                            </div>End .dropdown-menu -->
                            
                        <!-- </div>End .compare-dropdown -->

                         <a href="/wishlist" class="wishlist-link pb-1 ">
                            <i class="icon-heart-o pt-1"></i>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <!-- <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div>End .product-cart-details

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/urban/newBalanceDemo-1.png" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div>End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="assets/images/urban/nikeScaiDemo-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="/cart" class="btn btn-primary">View Cart</a>
                                    <a href="/cheakout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
    </header><!-- End .header -->