<header class="header header-5">

    <div class="header-middle sticky-header">
        <div class="container-fluid">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <!-- <a href="index.html">
                    <img src="/project/assets/images/urban/mainIconShoes.png" width="50px" class="pt-1">
                </a> -->

                <nav class="main-nav">
                    <ul class="menu sf-arrows">

                          <a href="/">
                            <img src="/assets/images/mythrift/logomainimg.png" width="70px" class="pt-1" style="padding-right: 20px;">
                         </a>

                        <li class="megamenu-container active">

                            <a href="/" style="padding-right: 10px;">Home</a>
                         
                        </li>

                        <li>

                            <a href="/" class="sf-with-ul">Category</a>

                             <ul class="p-2">
                                <% categoryData.forEach(e => {%>
                                    <li><a href="/categoryyy?id=<%= e._id %>"><%= e.name %></a></li>
                                    <% }); %>
                                
                                <!-- <li><a href="/category">Women's</a></li> -->
                            </ul>

                        </li>

                        <li>

                            <a href="/product" style="padding-right: 10px;">Product</a>


                        </li>

                        <li>
                            <a href="/about" style="padding-right: 10px;">About</a>

                        </li>

                        <li>
                            <a href="/contact" style="padding-right: 10px;">CONTACT</a>

                        </li>

                    </ul><!-- End .menu -->

                </nav><!-- End .main-nav -->

            </div><!-- End .header-left -->

            <div class="header-right">
                        
                <div class="dropdown cart-dropdown">

                    <a href="<%= locals.login ? '/profile' : '/login' %>" class="dropdown-toggle text-white" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">

                        <% if (locals.login) { %>

                            <div class="hello" style="padding-top: 20px; margin-right: 13px;">
                            <a href="/profile">
                            <i class="fa-solid fa-circle-user text-white" style="font-size: 28px; padding-right: 10px;"></i>
                            </a>
                            </div>

                        <% } else { %>

                            <div class="hai" style="padding-top: 9px; margin-right: 17px;">
                            <a href="/login" class="text-white" style="margin-top: 7px; font-size: 16px;">LOGIN</a>
                            </div>

                        <% } %>

                    </a>

                <% if (locals.login) { %>

                    <div class="dropdown-menu dropdown-menu-right text-center rounded-2" style="display: flex; flex-direction: column; width: fit-content;">

                        <span class="text-dark "><%= login.fullName %></span>

                     <a href="/profile" style="font-size: 15px; padding-top: 5px;">Profile</a>
                    
                        <form action="/logout" method="post">

                            <button class="logout-button rounded-pill mt-1 text-white " style="background-color: gray; width: fit-content;" type="submit">logout</button>
                            
                        </form>

                    </div><!-- End .dropdown-menu -->

                <% } %>

                </div><!-- End .cart-dropdown -->

                <div class="header-search header-search-extended header-search-visible">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="#" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                            <button class="btn btn-primary" type="submit"><i class="icon-search pt-2"></i></button>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->
                
                <a href="/wishlist" class="wishlist-link">
                    <i class="icon-heart-o pt-1"></i>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="/cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart pt-1 "></i>
                        <span class="cart-count">0</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">Beige knitted elastic runner shoes</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        x $84.00
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="assets/images/urban/newBalanceDemo-1.png" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">Blue utility pinafore denim dress</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        x $76.00
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="assets/images/urban/nikeScaiDemo-1.jpg" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>Total</span>

                            <span class="cart-total-price">$160.00</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="/cart" class="btn btn-primary">View Cart</a>
                            <a href="/cheakout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            
            </div><!-- End .header-right -->
        </div><!-- End .container-fluid -->
    </div><!-- End .header-middle -->
    
</header><!-- End .header -->