
      <!-- shhshs -->

      <div id="main">

        <div class="fof">

              <h1>Error 500</h1>
              <p>We are sorry, the page you've requested is not available.</p>
              <!-- <P><a href="/" class="text-primary ">Back To Home</a></P> -->

        </div>
        
  </div>

<style>
*{
transition: all 0.6s;
}

html {
height: 100%;
}

body{
font-family: 'Lato', sans-serif;
color: #888;
margin: 0;
}

#main{
display: table;
width: 100%;
height: 50vh;
padding-bottom: 40px;
text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.fof h1{
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}
</style>

<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="js/demos/demo-6.js"></script>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"></script>

<%- include('../layouts/footer.ejs') -%>

<script src="js/base.js"></script>
